.profile__edit {
    width: 24px;
    height: 24px;
    margin: 15px 0 0 18px;
    padding: 0;
    background-color: transparent;
    border: 1px solid white;
    justify-self: end;
    background-image: url("../../../images/pen.svg");
    background-position: center center;
    background-repeat: no-repeat;
}

.profile__edit:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 780px) {
    .profile__edit {
        width: 18px;
        height: 18px;
        background-size: 7.5px 7.5px;
        margin: 25px 0 0;
    }
}

@media screen and (max-width: 410px) {
    .profile__edit {
        margin: 18px 0 0;
    }
}